.vscode
tempCodeRunnerFile.py
complex.py
__pycache__
.ipynb_checkpoints
backup.py
Hands-On Machine Learning 2nd.pdf
Hands-On Machine Learning.pdf
Hands-On Machine Learning 2nd Early Release.pdf
ml/8/my_mnist.data
